#popupFilm {
    position: absolute;
    border: 1px solid red;
    background-color: black;
    padding: 10px;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.categorie {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid black;
}

.titreFilmGras {
    font-weight : bold;
    align-items: center;
}

.titreFilmNorm {
    font-weight: normal;
    align-items: center;
}