body {
    background-color: darkcyan;
}

h2 {
    font-size: 2em;
    text-align: center;
}

#popupFilm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
    top : 50%;
    left : 50%;
    box-shadow: 0 20px 40px rgba(255,255,255,1), 0 12px 12px rgba(255,255,255,1);
    transform : translate(-50%, -50%);
    animation : popupOpen 0.5s ease-out;
    border: 1px solid red;
    background-color: black;
    padding: 10px;
    z-index: 1000;
    color: white;
    border-radius: 10%;
}

@keyframes popupOpen {
  0% {
    transform: translate(-50%, -50%) scale(0); /* La popup commence au centre et est réduite à une échelle de 0 */
  }
  100% {
    transform: translate(-50%, -50%) scale(1); /* La popup termine au centre et grandit à une échelle normale (1) */
  }
}

.categorie {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorieUne {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: midnightblue;
    color: cyan;
    font-size: 3em;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    align-content: center;
    padding: 5px;
    background-color: yellow;
    margin-right: 10px;
    border: 1px solid black;
}

.titreFilmGras {
    font-weight : bold;
    text-align: center;
}

.titreFilmNorm {
    font-weight: normal;
    text-align: center;
}

.imgFilm {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: darkcyan;
    font-size: 2em;
    flex-direction: row-reverse;
}

.logo {
    order: 2;
}

.menu a {
    margin-right: 20px;
    text-decoration: none;
    color: #333333;
}

.navbar .menu a:hover {
    font-weight: bold;
    color: darkblue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: darkcyan;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    font-size: 0.5em;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}